<html>
    <head>

    </head>
    <body>
        <h1>Sample home page</h1>
        <h2>Hi <%= name %></h2>
        <h2>Expression <%= 2+2 %></h2>
        <h2>Hi <%= locals.name || 'Default name' %></h2>
        <h2>Hi <%= locals.name1 || 'Default name' %></h2>
    </body>
</html>